<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\CoETestbedWebsite.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
     <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
                    <environmentVariable name="DB_DSN" value="abctestsqlserverdatasource" />
                    <environmentVariable name="DB_PASS" value="6^ghkb!5" />
                    <environmentVariable name="DB_DATABASE" value="COE" />
                    <environmentVariable name="DB_SERVER" value="LCS-VC-COEDB01" />
                    <environmentVariable name="DB_USER" value="MyDevice" />
      </environmentVariables>
  </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 874DFD89-F87F-40EC-8A6B-83E54761DF2A-->